@model IEnumerable<SMP.Models.Professor>
@{
    ViewBag.Title = "Lista de Professores";
}


<html>
<head>

</head>
<body>
    <br />
    <br />
    <div class="jumbotron" style="background-image:url('../fita.jpg'); width: 100%; height: 100%; background-size:cover;">

        <input id="btnCadastrar" onclick="location.href='/Admin/PainelAdmin';" type="button" value="Voltar" />

        <table class="table">
            <tr>
                <th>Nome do Professor</th>
                <th>CREF</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.no_usuario)</td>
                    <td>@Html.DisplayFor(modelItem => item.CREF)</td>


                </tr>
            }
        </table>

    </div>


</body>
</html>
