@{
    ViewBag.Title = "Logs do Sistema";
}


<html>
<head>

</head>
<body>
    <br />
    <br />
    <div class="jumbotron" style="background-image:url('../fita.jpg'); width: 100%; height: 100%; background-size:cover;">

        <input id="btnCadastrar" onclick="location.href='/Admin/PainelAdmin';" type="button" value="Voltar" />

        <table class="table">
            <thead>
                <tr>


                    <th scope="col">

                        #

                    </th>
                    <th scope="col">

                        Operação

                    </th>

                    <th scope="col">

                        Usuário

                    </th>

                    <th scope="col">

                        Data

                    </th>



                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 1</span>

                    </td>
                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Cadastrar no Sistema</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Henrique Lima</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 24/09/2019 10:00:00</span>

                    </td>



                </tr>
                <tr>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 2</span>

                    </td>
                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Loar no Sistema</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Henrique Lima</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 24/09/2019 10:01:33</span>

                    </td>



                </tr>
                <tr>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 2</span>

                    </td>
                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Nova Medida</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Henrique Lima</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 24/09/2019 10:06:22</span>

                    </td>



                </tr>

                <tr>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 4</span>

                    </td>
                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Gerar Gráfico</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Henrique Lima</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 24/09/2019 10:22:31</span>

                    </td>



                </tr>

            </tbody>

        </table>


    </div>


</body>
</html>