@{
    ViewBag.Title = "Lista de Alunos";
}


<html>
<head>

</head>
<body>
    <br />
    <br />
    <div class="jumbotron" style="background-image:url('../fita.jpg'); width: 100%; height: 100%; background-size:cover;">

        <input id="btnCadastrar" onclick="location.href='/Professor/PainelProfessor';" type="button" value="Voltar" />

        <table class="table">
            <thead>
                <tr>



                    <th scope="col">

                        Nome Aluno

                    </th>

                    <th scope="col">

                        Meta

                    </th>

                    <th scope="col">

                        Ultima Medida

                    </th>



                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Henrique Lima</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 90</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 93</span>

                    </td>



                </tr>
                <tr>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Fabrício Costa</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 75</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 88</span>

                    </td>



                </tr>
                <tr>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Fabiana Lima</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 55</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 62</span>

                    </td>



                </tr>

                <tr>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Elenice Vieira de Souza</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 75</span>

                    </td>

                    <td>

                        <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> 75</span>

                    </td>



                </tr>

            </tbody>

        </table>


    </div>


</body>
</html>
