@model  IEnumerable<SMP.Models.Aluno>
@{
    ViewBag.Title = "Bem vindo!";
}
@using (Html.BeginForm("PainelProfessor", "Professor", FormMethod.Post))
{
    <div class="jumbotron" style="background-image:url('../fita.jpg'); width: 100%; height: 100%; background-size:cover;">
        <h2 style="color: white; text-shadow: black 0.1em 0.1em 0.2em">@ViewBag.Title</h2>


        <div class="form-group">
            <br />
            <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em">
                Notificar Aluno:
            </span>
            <br />
            <div class="col-md-10">
                <select id="notificado" name="notificado" class="form-control">
                    @foreach (var item in Model)
                    {
                        <option id="@Html.DisplayFor(@modelItem => item.id_usuario)"> @Html.DisplayFor(@modelItem => item.no_usuario) </option>
                    }
                </select>

            </div>

            <div class="col-md-10">
                <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em">
                    Título:
                </span>
                <input type="text" class="form-control" id="txt_titulo" name="txt_titulo" />
            </div>


            <div class="col-md-10">
                <span style="color: white; text-shadow: black 0.1em 0.1em 0.2em">
                    Mensagem:
                </span>
                <input type="text" class="form-control" id="txt_mensagem" name="txt_mensagem" />
            </div>

            <div class="col-md-10">
                <br />
                <input type="submit" value="Enviar" class="btn btn-default" />
            </div>


        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="background-color:white">
                <span style="color: Blue; text-shadow: white 0.1em 0.1em 0.2em">
                    @ViewBag.Message
                </span>
            </div>
        </div>

        <br /><br /><br />
        <div>
            <br /><br />
            <span>!</span>
        </div>
    </div>
    <div>
        <br /><br />
        <input id="btnLista" class="btn btn-default" onclick="location.href='/Professor/Listar';" type="button" value="Listar Alunos" />

    </div>
}