@{
    ViewBag.Title = "Notificações";
}


<html>
<head>
   
</head>
<body>
    <br />
    <br />
    <div class="jumbotron" style="background-image:url('../fita.jpg'); width: 100%; height: 100%; background-size:cover;">

        <input id="btnCadastrar" onclick="location.href='/Aluno/PainelAluno';" type="button" value="Voltar" />

        <table class="table">
            <thead>
                <tr>



                    <th scope="col">

                        Notificador

                    </th>

                    <th scope="col">

                        Título

                    </th>

                    <th scope="col">

                        Mensagem

                    </th>



                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Pr. Renato</span>

                    </td>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Bem Vindo</span>

                    </td>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Nosso sistema vai te ajudar a atinir seus objetivos</span>

                    </td>



                </tr>
                <tr>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Pr. Renato</span>

                    </td>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Nova Evolução</span>

                    </td>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Parabéns mantenha o foco!</span>

                    </td>



                </tr>
                <tr>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Pr. Renato</span>

                    </td>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Alerta</span>

                    </td>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Você precisa melhorar seu condicionamento</span>

                    </td>



                </tr>

                <tr>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Pr. Renato</span>

                    </td>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Maravilha!</span>

                    </td>

                    <td>

                        <span  style="color: white; text-shadow: black 0.1em 0.1em 0.2em"> Paranbéns você conseguiu</span>

                    </td>



                </tr>

            </tbody>

        </table>


    </div>
  

</body>
</html>
