@model IEnumerable<SMP.Models.Notificacao>


@{
    ViewBag.Title = "Notificações";
}


<html>
<head>

</head>
<body>
    <br />
    <br />
    <div class="jumbotron" style="background-image:url('../fita.jpg'); width: 100%; height: 100%; background-size:cover;">

        <input id="btnCadastrar" onclick="location.href='/Aluno/PainelAluno';" type="button" value="Voltar" />


        <table class="table">
            <tr>
                <th>Notificador</th>
                <th>Título</th>
                <th>Mensagem</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.usuarioNotificador)</td>
                    <td>@Html.DisplayFor(modelItem => item.txt_titulo)</td>
                    <td>@Html.DisplayFor(modelItem => item.txt_mensagem)</td>

                </tr>
            }
        </table>


    </div>


</body>
</html>





